* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#uploadInput {
  /* width: 0.1px; */
  /* height: 0.1px; */
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.tensor-flow {
  position: absolute;
  background: #4C5F76;
  z-index: -1;
  height: 80vh;
  width: 47vw;
  bottom: 10vh;
  right: 4.3vw;
  border-radius: 5px;
}

.tensor-flow.actve:before {
  content: '';
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  border: 4px solid #225019;
  z-index: 997;
  filter: blur(40px);
}

.tensor-flow.active:after {
  content: '';
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: #fff;
  z-index: 997;
  filter: blur(40px);
}

/* .tensor-flow:before, 
.tensor-flow:after {
  background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4)
} */

.tensor-flow.active {
  z-index: 998;
  transition: 0.2s ease;
}

.get-started {
  transition: background .5s ease-in, transform .25s;
}

.get-started.active {
  background: #F45B69;
  /* color: black; */
}

.get-started:hover {
  background: #F45B69;
  transform: scale(1.1);
}

.dog-model {
  display: flex;
  justify-content: center;
}

.dog-model img{
  position: absolute;
  top: 50px;
  border: 2px solid white;
  
}

.btn {
  display: flex;
  justify-content: center;
}

.dog-model .btn1 {
  position: absolute;
  bottom: 5rem;
  padding: 7px 9px;
  font-size: 1rem;
  background: #5b6772;
  color: #ffffff;
  border: none;
  font-weight: bolder;
  border-radius: .2em;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .7));
  letter-spacing: .1rem;
}

.dog-model .btn2 {
  position: absolute;
  bottom: 2rem;
  padding: 7px 9px;
  border: none;
  font-size: 1rem;
  background: #5b6772;
  font-weight: bolder;
  border: none;
  border-radius: .2em;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .7));
  color: white;
  letter-spacing: .1rem;
}


.DogInfo {
  position: absolute;
  bottom: 150px;
  font-family: 'Gidole-Regular';
  color: black;
  font-size: 15px;
  background: #9CBFB5;
  padding: 10px;
  transition-delay: 2s;
  border-radius: 5px;
}


body {
  background: #6B2737;
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",  Helvetica, Arial, "Lucida Grande", sans-serif; 
}

section {
  position: relative;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

.logo {
  position: fixed;
  top: 30px;
  /* left: 9.5vw; */
  color: white;
  font-weight: 700;
  font-size: 2em;
  z-index: 100;
  cursor: pointer;
}

.bg {
  position: absolute;
  top: 0;
  left: 48vw;
  height: 101vh;
}

.doggy {
  position: absolute;
  top: 2.5vh;
  left: 18.5vw;
  height: 5vh;
  /* opacity: 0.09; */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


section .content {
  position: fixed;
  top: 33vh;
  max-width: 650px;
  z-index: 1;
}

section .content h2{
  color: #fff;
  font-size: 2.7em;
  font-weight: bolder;
  line-height: 1.1em;
  width: fit-content;
}

.content h2 span{
  /* color: rgba(251, 251, 251, 0.116); */
  /* font-size: .5em; */
  display: block;
  letter-spacing: .045em;
  /* filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5)); */
}

#question-first-part {
  /* font-size: .5em; */
  display: block;
  letter-spacing: .01em;
}

#writer{
  color: rgba(251, 251, 251, 0.116);
  font-size: .5em;
  font-weight: 700;
  display: block;
}


section .content p {
  color: #fff;
  font-size: 1.1em;
  margin: 20px 0 10px;
}

section .content button {
  position: fixed;
  top: 62vh;
  color: #fff;
  background: #4C5F76;
  font-size: 1.5em;
  margin: 20px 0;
  font-weight: 500;
  padding: 9px 27px;
  border: none;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
  border-radius: .2em;
  cursor: pointer;
  /* display: inline-block; */
  /* text-decoration: none; */
}

.copyrightText {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 1em;
  margin: 20px 0 10px;
  font-style: italic;
}

.menuToggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  display: flex;
  background-color: #4C5F76;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  z-index: 1000;
  color: white;
  font-weight: lighter;
  transition: .25s ease-in;
}
.menuToggle:hover {
  background: #F45B69;
}


.navigation {
  position: fixed;
  top: 0;
  left: calc(100% - 70px);
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.navigation.active {
  left: 0px;
}


.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2.5em;
  color: #111;
  text-decoration: none;
  font-weight: 300;

  transition: transform .5s;
}

.navigation ul li a:hover {
  color: #F45B69;
  transform: scale(1.2);
}

.socialBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99;
}

.socialBar ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 20px;
  right: .2rem;
  transition: .5s;
}

.socialBar ul li:hover {
  color: #F45B69;
  transform: scale(1.1);
}


.socialBar ul li a {
  color: #4C5F76;
  position: relative;
  display: inline-block;
}


#feedbackButton {
  position: fixed;
  color: #4C5F76;
  padding: 10px 15px;
  background: none;
  border: 2px solid #4C5F76;
  border-radius: 5px;
  font-weight: bolder;
  font-size: .7rem;
  right: -15px;
  bottom: 5rem;
  transform: rotate(270deg);
  z-index: 99999;
  letter-spacing: .05rem;
  cursor: pointer;
} 

#feedbackButton:hover {
  right: -29px;
  color: #F45B69;
  font-size: 1.1rem;
  transform: rotate(270deg);
  transition: .5s;
}

.runner-dog {
  background:url("./Images/Dog.png");
  margin-top: 170px;
  width: 500px;
  height: 280px;
  z-index: 100;
  animation: walk 1s steps(5) infinite, forward 4s linear infinite;
  
}

@keyframes walk {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 2200px;
  }
}

.DogInfo.NoRender {
  background: transparent;
}


#paw {
  color: rgb(224, 92, 98);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 1));
  transform: rotate(-9deg);
}

#paws {
  position: absolute;
  color: rgb(34, 121, 148);
}

.paw1 {
  position: fixed;
  color: rgb(34, 121, 148);
  top: 33vh;
  left: 10vw;
  opacity: .3;
  transform: rotate(-20deg);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .3));
}

.paw2 {
  position: fixed;
  color: rgb(255, 255, 255);
  top: 10vh;
  left: 80vw;
  opacity: 0.07;
  transform: rotate(-29deg);
}

.paw3 {
  position: fixed;
  color: #d6d0d2;
  top: 75vh;
  left: 27vw;
  opacity: 0.03;
  transform: rotate(29deg);
}

.paw4 {
  position: fixed;
  color: rgb(219, 164, 102);
  top: 15vh;
  left: 35vw;
  opacity: .5;
  transform: rotate(20deg);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .7));
}

#dogIcon {
  margin-left: 10px;
  animation: doggy 1s linear infinite;
  /* transform-origin: center; */
}

@keyframes doggy {
  0% {
    transform: scale(.9) 
  }
  50% {
    transform: scale(1.2) 
  }
  100% {
    transform: scale(.9) 
  }
}




